@import "vendor/rfs"

///Specifiers used to select the HTML elements.
{{ with site.Data.plugin_toc.specifiers }}
$toc-backdrop-id: {{ .BackdropID }};
$toc-container-id: {{ .ContainerID }};
$toc-header-id: {{ .HeaderID }};
$toc-title-id: {{ .TitleID }};
$toc-close-button-id: {{ .CloseButtonID }};
$toc-body-id: {{ .BodyID }};
$toc-toggle-id: {{ .ToggleID }};
$toc-level-class-prefix: {{ .LevelClassNamePrefix }};
$fade-class-name: {{ .FadeClassName }};
$show-class-name: {{ .ShowClassName }};
{{ end }}

/// Style parameters
{{ with (.Scratch.Get "plugin-toc.Parameters").TOC.Style }}

$toc-color: {{ .Color }};
$toc-bg-color: {{ .BGColor }};
$toc-transition-duration: {{ .TransitionDuration }};
$toc-zindex: {{ .ZIndex }};
$toc-width: {{ .Width }}px;

{{ with .Padding }}
$toc-padding-y: {{ .Y }};
$toc-padding-x: {{ .X }};
{{ end }}

{{ with .Border }}
$toc-border-width: {{ .Width }};
$toc-border-color: {{ .Color }};
{{ end }}

{{ with .Header }}
$toc-header-bg-color: {{ .BGColor }};
{{ end }}

{{ with .Title }}
$toc-title-line-height: {{ .LineHeight }};
$toc-title-color: {{ .Color }};

{{ with .Font }}
$toc-title-font-size: {{ .Size }};
$toc-title-font-family: {{ .Family }};
$toc-title-font-weight: {{ .Weight }};
{{ end }}

{{ end }}

{{ with .Link }}
$toc-link-line-height: {{ .LineHeight }};
$toc-link-color: {{ .Color }};
$toc-link-indent: {{ .Indent }};

{{ with .Font }}
$toc-link-font-size: {{ .Size }};
$toc-link-font-family: {{ .Family }};
$toc-link-font-weight: {{ .Weight }};
{{ end }}

{{ end }}

{{ with .Backdrop }}
$toc-backdrop-zindex: {{ .ZIndex }};
$toc-backdrop-bg-color: {{ .BGColor }};
$toc-backdrop-opacity: {{ .Opacity }};
{{ end }}

{{ end }}

##{$toc-backdrop-id} {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $toc-backdrop-bg-color;

  // Fade backdrop and lower to prevent click handling.
  &.#{$fade-class-name} { 
    opacity: 0; 
    z-index: -1;
  }
  
  // Show and raise to allow click handling.
  &.#{$show-class-name} { 
    opacity: $toc-backdrop-opacity; 
    z-index: $toc-backdrop-zindex;
  }
}

button##{$toc-toggle-id} {
  background: rgba(30,32,37,.5);
  color: white;
  border: none;
  font-size: 0.85rem;
  position: absolute;
  padding: .125em .25em;
  left: 0;
  bottom: 1em;
}
    
##{$toc-container-id} {
  top: 0;
  left: 0;
  width: $toc-width;
  border-right: $toc-border-width solid $toc-border-color;
  transform: translateX(-100%);
  position: fixed;
  bottom: 0;
  z-index: $toc-zindex;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: $toc-color;
  background-color: $toc-bg-color;
  background-clip: padding-box;
  outline: 0;
  transition: transform $toc-transition-duration ease-in-out;
  
  &.#{$show-class-name} { transform: none; }
  
  header##{$toc-header-id} {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $toc-padding-y $toc-padding-x;
    background: $toc-header-bg-color;
  
    h2##{$toc-title-id} {
      margin-bottom: 0;
      line-height: $toc-title-line-height;
      color: $toc-title-color;
      @include font-size($toc-title-font-size);
      font-family: $toc-title-font-family;
      font-weight: $toc-title-font-weight;
    }
    
    button##{$toc-close-button-id} {
      position: absolute;      
      top: $toc-padding-y * .5;
      right: $toc-padding-x * .5;
      padding: 0;
      margin: 0;
      width: 1rem;
      background: transparent;
      border: none;
      color: lightgray;
      visibility: hidden;
      
      @media (max-width: $toc-width + 50) {
        visibility: visible;
      }
      
      svg {
        display: inline-block;
        height: 1rem;
        overflow: visible;
        align-self: center;
        vertical-align: center;
        fill: lightgray;
      }
    }
  }

  nav##{$toc-body-id} {
    flex-grow: 1;
    padding: $toc-padding-y $toc-padding-x;
    overflow-y: auto;
    display: flex;
    flex-direction: column; 
    gap: .5rem;   
    
    a {
      line-height: $toc-link-line-height;
      color: $toc-link-color;
      @include font-size($toc-link-font-size);
      font-family: $toc-link-font-family;
      font-weight: $toc-link-font-weight;
      
      &.#{$toc-level-class-prefix}2 {
        margin-left: $toc-link-indent * 1;
      }
      &.#{$toc-level-class-prefix}3 {
        margin-left: $toc-link-indent * 2;
      }
      &.#{$toc-level-class-prefix}4 {
        margin-left: $toc-link-indent * 3;
      }
      &.#{$toc-level-class-prefix}5 {
        margin-left: $toc-link-indent * 4;
      }
    }
    
  }
  
}