{{ with site.Data.plugin_toc.specifiers }}
$toc-backdrop-id: {{ .BackdropID }};
$toc-container-id: {{ .ContainerID }};
$toc-header-id: {{ .HeaderID }};
$toc-title-id: {{ .TitleID }};
$toc-close-button-id: {{ .CloseButtonID }};
$toc-body-id: {{ .BodyID }};
$toc-toggle-id: {{ .ToggleID }};
$toc-level-class-prefix: {{ .LevelClassNamePrefix }};
$fade-class-name: {{ .FadeClassName }};
$show-class-name: {{ .ShowClassName }};
{{ end }}

{{ with (.Scratch.Get "plugin-toc.Parameters").TOC.Style }}
$indent: {{ .Indent }};
$toc-color: {{ .Color }};
$toc-bg-color: {{ .BGColor }};
$toc-transition-duration: {{ .TransitionDuration }};
$zindex-toc-backdrop: {{ .Backdrop.ZIndex }};
$zindex-toc: {{ .ZIndex }};
$toc-backdrop-bg-color: {{ .Backdrop.BGColor }};
$toc-backdrop-opacity: {{ .Backdrop.Opacity }};
$toc-padding-y: {{ .Padding.Y }};
$toc-padding-x: {{ .Padding.X }};
$toc-title-line-height: {{ .TitleLineHeight }};
$toc-width: {{ .Width }};
$toc-border-width: {{ .Border.Width }};
$toc-border-color: {{ .Border.Color }};
{{ end }}

##{$toc-backdrop-id} {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $toc-backdrop-bg-color;

  // Fade for backdrop
  &.#{$fade-class-name} { 
    opacity: 0; 
    z-index: -1;
  }
  &.#{$show-class-name} { 
    opacity: $toc-backdrop-opacity; 
    z-index: $zindex-toc-backdrop;
  }
}

button##{$toc-toggle-id} {
  background: rgba(30,32,37,.5);
  color: white;
  border: none;
}
    
##{$toc-container-id} {
  top: 0;
  left: 0;
  width: $toc-width;
  border-right: $toc-border-width solid $toc-border-color;
  transform: translateX(-100%);
  position: fixed;
  bottom: 0;
  z-index: $zindex-toc;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: $toc-color;
  visibility: hidden;
  background-color: $toc-bg-color;
  background-clip: padding-box;
  outline: 0;
  transition: transform $toc-transition-duration ease-in-out;
  
  &.#{$show-class-name} { transform: none; }
  
  ##{$toc-header-id} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $toc-padding-y $toc-padding-x;
  
    ##{$toc-title-id} {
      margin-bottom: 0;
      line-height: $toc-title-line-height;
    }
    
    ##{$toc-close-button-id} {
      padding: ($toc-padding-y * .5) ($toc-padding-x * .5);
      margin-top: $toc-padding-y * -.5;
      margin-right: $toc-padding-x * -.5;
      margin-bottom: $toc-padding-y * -.5;
      background: transparent;
      border: none;
      
      /*!
       * Font Awesome Pro 5.15.4 by @fontawesome - 
       * https://fontawesome.com
       * License - https://fontawesome.com/license (Commercial License)
       */
      .svg-inline--fa {
        display: inline-block;
        font-size: inherit;
        height: 1em;
        overflow: visible;
        align-self: baseline;
        vertical-align: baseline;
        fill: lightgray;
        
        &.fa-secondary { opacity: 0.4; }
      }
    }
  }

  ##{$toc-body-id} {
    flex-grow: 1;
    padding: $toc-padding-y $toc-padding-x;
    overflow-y: auto;
    display: flex;
    flex-direction: column;    
    
    a {
      
      &.#{$toc-level-class-prefix}2 {
        margin-left: $indent * 1;
      }
      &.#{$toc-level-class-prefix}3 {
        margin-left: $indent * 2;
      }
      &.#{$toc-level-class-prefix}4 {
        margin-left: $indent * 3;
      }
      &.#{$toc-level-class-prefix}5 {
        margin-left: $indent * 4;
      }
    }
    
  }
  
}