@import "vendor/rfs";

{{ with .Scratch.Get "plugin-toc.Parameters" }}

///Specifiers used to select the HTML elements.
{{ with .Specifiers }}
$toc-backdrop-id: {{ .BackdropID }};
$toc-container-id: {{ .ContainerID }};
$toc-header-id: {{ .HeaderID }};
$toc-title-id: {{ .TitleID }};
$toc-close-button-id: {{ .CloseButtonID }};
$toc-body-id: {{ .BodyID }};
$toc-toggle-id: {{ .ToggleID }};
$toc-level-class-prefix: {{ .LevelClassNamePrefix }};
$fade-class-name: {{ .FadeClassName }};
$show-class-name: {{ .ShowClassName }};
$offscreen-class-name: {{ .OffscreenClassName }};
$toc-entry-class-name: {{ .TOCEntryClassName }};
$section-number-class-name: {{ .SectionNumberClassName }};
{{ end }}

/// Style parameters
{{ with .TOC.Style }}

$toc-color: {{ .Color }};
$toc-bg-color: {{ .BGColor }};
$toc-transition-duration: {{ .TransitionDuration }};
$toc-zindex: {{ .ZIndex }};
$toc-width: {{ .Width }}px;

{{ with .Padding }}
$toc-padding-y: {{ .Y }};
$toc-padding-x: {{ .X }};
{{ end }}

{{ with .Border }}
$toc-border-width: {{ .Width }};
$toc-border-color: {{ .Color }};
{{ end }}

{{ with .Toggle }}
$toc-toggle-color: {{ .Color }};
$toc-toggle-bg-color: {{ . BGColor }};

{{ with .Font }}
$toc-toggle-font-size: {{ .Size }};
$toc-toggle-font-family: {{ .Family }};
$toc-toggle-font-weight: {{ .Weight }};
{{ end }}

{{ end }}

{{ with .Header }}
$toc-header-bg-color: {{ .BGColor }};
{{ end }}

{{ with .Title }}
$toc-title-line-height: {{ .LineHeight }};
$toc-title-color: {{ .Color }};

{{ with .Font }}
$toc-title-font-size: {{ .Size }};
$toc-title-font-family: {{ .Family }};
$toc-title-font-weight: {{ .Weight }};
{{ end }}

{{ end }}

{{ with .Link }}
$toc-link-line-height: {{ .LineHeight }};
$toc-link-color: {{ .Color }};
$toc-link-indent: {{ .Indent }};

{{ with .Font }}
$toc-link-font-size: {{ .Size }};
$toc-link-font-family: {{ .Family }};
$toc-link-font-weight: {{ .Weight }};
{{ end }}

{{ end }}

{{ with .Backdrop }}
$toc-backdrop-zindex: {{ .ZIndex }};
$toc-backdrop-bg-color: {{ .BGColor }};
$toc-backdrop-opacity: {{ .Opacity }};
{{ end }}

{{ end }}

{{ end }}

##{$toc-backdrop-id} {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $toc-backdrop-bg-color;

  // Fade backdrop and lower to prevent click handling.
  &.#{$fade-class-name} { 
    opacity: 0; 
    z-index: -1;
  }
  
  // Show and raise to allow click handling.
  &.#{$show-class-name} { 
    opacity: $toc-backdrop-opacity; 
    z-index: $toc-backdrop-zindex;
  }
}

button##{$toc-toggle-id} {
  background: $toc-toggle-bg-color;
  color: $toc-toggle-color;
  border: none;
  background-radius: 0;
  white-space: nowrap;
  font-size: $toc-toggle-font-size;
  font-weight: $toc-toggle-font-weight;
  font-family: $toc-toggle-font-family;
}
    
##{$toc-container-id} {
  top: 0;
  left: 0;
  bottom: 0;
  width: $toc-width;
  max-width: 100%;
  position: fixed;
  border-right: $toc-border-width solid $toc-border-color;
  display: flex;
  flex-direction: column;
  color: $toc-color;
  background-color: $toc-bg-color;
  background-clip: padding-box;
  outline: 0;

  &.#{$offscreen-class-name} {
    z-index: $toc-zindex;
    transform: translateX(-100%);
    transition: transform $toc-transition-duration ease-in-out;
    
    &.#{$show-class-name} { transform: none; }
    
  }
  
  header##{$toc-header-id} {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $toc-padding-y $toc-padding-x;
    background: $toc-header-bg-color;
  
    h2##{$toc-title-id} {
      margin-bottom: 0;
      line-height: $toc-title-line-height;
      color: $toc-title-color;
      @include font-size($toc-title-font-size);
      font-family: $toc-title-font-family;
      font-weight: $toc-title-font-weight;
    }
    
    button##{$toc-close-button-id} {
      position: absolute;      
      top: $toc-padding-y * .5;
      right: $toc-padding-x * .5;
      padding: 0;
      margin: 0;
      width: 1rem;
      background: transparent;
      border: none;
      color: lightgray;
      visibility: hidden;
      
      @media (max-width: $toc-width + 50) {
        visibility: visible;
      }
      
      svg {
        display: inline-block;
        height: 1rem;
        overflow: visible;
        align-self: center;
        vertical-align: center;
        fill: lightgray;
      }
      
    } // button##{$toc-close-button-id}

  } // header##{$toc-header-id}

  nav##{$toc-body-id} {
    flex-grow: 1;
    padding: $toc-padding-y $toc-padding-x;
    overflow-y: auto;
    display: flex;
    flex-direction: column; 
    gap: .5rem;
    
    .#{$toc-entry-class-name} {
        display: flex;
        gap: 1.5em;
        align-items: baseline;
      
        &.#{$toc-level-class-prefix}2 {
          margin-left: $toc-link-indent * 1;
        }
        &.#{$toc-level-class-prefix}3 {
          margin-left: $toc-link-indent * 2;
        }
        &.#{$toc-level-class-prefix}4 {
          margin-left: $toc-link-indent * 3;
        }
        &.#{$toc-level-class-prefix}5 {
          margin-left: $toc-link-indent * 4;
        }
    
        .#{$section-number-class-name} {
          font-style: italic;
        }
      
        a {
          line-height: $toc-link-line-height;
          color: $toc-link-color;
          @include font-size($toc-link-font-size);
          font-family: $toc-link-font-family;
          font-weight: $toc-link-font-weight;
        }
      
    } // .#{$toc-entry-class-name}
    
  } // nav##{$toc-body-id}
  
} // ##{$toc-container-id}