{{- /********************************************************
  Resolves theme and plugin data files to build a map of 
  parameter values and injects this map into the page scratch
  ***********************************************************/ -}}

{{- /************************************************
  Initialize variables with default parameter values
  to ensure every parameter has a map entry. 
  ***************************************************/ -}}
  
{{- $Config_Version := "" -}}
{{- $Config_MinWordCount := 400 -}}
{{- $Config_DebugPrint := false -}}
{{- $Config_Fingerprint := true -}}
{{- $Config_SassOutput := "compact" -}}
{{- $Config_MinifyScript := false -}}
{{- $Config_MinSections := 2 -}}
{{- $Config_SourceSandbox := "#post-body" -}}
{{- $Config_ContainerParent := "body" -}}
{{- $Config_TitleText := "Table of Contents" -}}
{{- $Config_ToggleParent := "#tog-toggle-container" -}}
{{- $Config_ToggleText := "Table of Contents" -}}
{{- $Config_SectionNumbers := true -}}
{{- $Config_InjectSectionNumbers := true -}}

{{- $Specifiers_BackdropID := "toc-backdrop" -}}
{{- $Specifiers_ContainerID := "toc-container" -}}
{{- $Specifiers_HeaderID := "toc-header" -}}
{{- $Specifiers_TitleID := "toc-title" -}}
{{- $Specifiers_CloseButtonID := "toc-close-button" -}}
{{- $Specifiers_BodyID := "toc-body" -}}
{{- $Specifiers_ToggleID := "toc-toggle" -}}
{{- $Specifiers_LevelClassNamePrefix := "toc-level-" -}}
{{- $Specifiers_FadeClassName := "fade" -}}
{{- $Specifiers_ShowClassName := "show" -}}
{{- $Specifiers_OffscreenClassName := "offscreen" -}}
{{- $Specifiers_TOCEntryClassName := "toc-entry" -}}
{{- $Specifiers_SectionNumberClassName := "section-number" -}}
{{- $Specifiers_InjectedSectionNumberClassName := "injected-section-number" -}}

{{- $Style_TOC_Color := "null" -}}
{{- $Style_TOC_BGColor := "white" -}}
{{- $Style_TOC_TransitionDuration := ".3s" -}}
{{- $Style_TOC_ZIndex := 1045 -}}
{{- $Style_TOC_Width := 400 -}}
{{- $Style_TOC_Padding_Y := "1rem" -}}
{{- $Style_TOC_Padding_X := "1rem" -}}
{{- $Style_TOC_Border_Width := "1px" -}}
{{- $Style_TOC_Border_Color := "rgba(black, .2)" -}}
{{- $Style_TOC_Header_BGColor := "null" -}}
{{- $Style_TOC_Title_LineHeight := 1.5 -}}
{{- $Style_TOC_Title_Color := "null" -}}
{{- $Style_TOC_Title_Font_Size := "null" -}}
{{- $Style_TOC_Title_Font_Weight := "null" -}}
{{- $Style_TOC_Title_Font_Family := "null" -}}
{{- $Style_TOC_Link_LineHeight := 1.1 -}}
{{- $Style_TOC_Link_Color := "null" -}}
{{- $Style_TOC_Link_Indent := "4px" -}}
{{- $Style_TOC_Link_Font_Size := "null" -}}
{{- $Style_TOC_Link_Font_Weight := "null" -}}
{{- $Style_TOC_Link_Font_Family := "null" -}}
{{- $Style_TOC_Backdrop_ZIndex := 1040 -}}
{{- $Style_TOC_Backdrop_BGColor := "black" -}}
{{- $Style_TOC_Backdrop_Opacity := 0.5 -}}

{{- $Style_Toggle_Color := "rgba(white, .9)" -}}
{{- $Style_Toggle_BGColor := "rgba(black, .4)" -}}
{{- $Style_Toggle_Padding_Y := "0.25em" -}}
{{- $Style_Toggle_Padding_X := "0.5em" -}}
{{- $Style_Toggle_Margin_Y := "0" -}}
{{- $Style_Toggle_Margin_X := "0" -}}
{{- $Style_Toggle_Font_Size := "null" -}}
{{- $Style_Toggle_Font_Weight := "null" -}}
{{- $Style_Toggle_Font_Family := "null" -}}

{{- $Style_SectionNumber_Color := "null" -}}
{{- $Style_SectionNumber_BGColor := "null" -}}
{{- $Style_SectionNumber_Padding_Y := "null" -}}
{{- $Style_SectionNumber_Padding_X := "null" -}}
{{- $Style_SectionNumber_Margin_Y := "null" -}}
{{- $Style_SectionNumber_Margin_X := "null" -}}
{{- $Style_SectionNumber_Font_Size := "null" -}}
{{- $Style_SectionNumber_Font_Weight := "null" -}}
{{- $Style_SectionNumber_Font_Family := "null" -}}

{{- /************************************************
  Override the default parameter values with values
  found in the plugin data files.
  ***************************************************/ -}}

{{- with site.Data.plugin_toc -}}

{{- with .Config.Version -}}
{{- $Config_Version = . -}}
{{- end -}}
{{- with .Config.MinWordCount -}}
{{- $Config_MinWordCount = . -}}
{{- end -}}
{{- if (isset .Config "DebugPrint") -}}
{{- $Config_DebugPrint = .Config.DebugPrint -}}
{{- end -}}
{{- if (isset .Config "Fingerprint") -}}
{{- $Config_Fingerprint = .Config.Fingerprint -}}
{{- end -}}
{{- with .Config.SassOutput -}}
{{- $Config_SassOutput = . -}}
{{- end -}}
{{- if (isset .Config "MinifyScript") -}}
{{- $Config_MinifyScript = .Config.MinifyScript -}}
{{- end -}}
{{- with .Config.MinSections -}}
{{- $Config_MinSections = . -}}
{{- end -}}
{{- with .Config.SourceSandbox -}}
{{- $Config_SourceSandbox = . -}}
{{- end -}}
{{- with .Config.ContainerParent -}}
{{- $Config_ContainerParent = . -}}
{{- end -}}
{{- with .Config.TitleText -}}
{{- $Config_TitleText = . -}}
{{- end -}}
{{- with .Config.ToggleParent -}}
{{- $Config_ToggleParent = . -}}
{{- end -}}
{{- with .Config.ToggleText -}}
{{- $Config_ToggleText = . -}}
{{- end -}}
{{- if (isset .Config "SectionNumbers") -}}
{{- $Config_SectionNumbers = .Config.SectionNumbers -}}
{{- end -}}
{{- if (isset .Config "InjectSectionNumbers") -}}
{{- $Config_InjectSectionNumbers = .Config.InjectSectionNumbers -}}
{{- end -}}

{{- with .Specifiers.BackdropID -}}
{{- $Specifiers_BackdropID = . -}}
{{- end -}}
{{- with .Specifiers.ContainerID -}}
{{- $Specifiers_ContainerID = . -}}
{{- end -}}
{{- with .Specifiers.HeaderID -}}
{{- $Specifiers_HeaderID = . -}}
{{- end -}}
{{- with .Specifiers.TitleID -}}
{{- $Specifiers_TitleID = . -}}
{{- end -}}
{{- with .Specifiers.CloseButtonID -}}
{{- $Specifiers_CloseButtonID = . -}}
{{- end -}}
{{- with .Specifiers.BodyID -}}
{{- $Specifiers_BodyID = . -}}
{{- end -}}
{{- with .Specifiers.ToggleID -}}
{{- $Specifiers_ToggleID = . -}}
{{- end -}}
{{- with .Specifiers.LevelClassNamePrefix -}}
{{- $Specifiers_LevelClassNamePrefix = . -}}
{{- end -}}
{{- with .Specifiers.FadeClassName -}}
{{- $Specifiers_FadeClassName = . -}}
{{- end -}}
{{- with .Specifiers.ShowClassName -}}
{{- $Specifiers_ShowClassName = . -}}
{{- end -}}
{{- with .Specifiers.OffscreenClassName -}}
{{- $Specifiers_OffscreenClassName = . -}}
{{- end -}}
{{- with .Specifiers.TOCEntryClassName -}}
{{- $Specifiers_TOCEntryClassName = . -}}
{{- end -}}
{{- with .Specifiers.SectionNumberClassName -}}
{{- $Specifiers_SectionNumberClassName = . -}}
{{- end -}}
{{- with .Specifiers.InjectedSectionNumberClassName -}}
{{- $Specifiers_InjectedSectionNumberClassName = . -}}
{{- end -}}

{{- with .Style.TOC.Color -}}
{{- $Style_TOC_Color = . -}}
{{- end -}}
{{- with .Style.TOC.BGColor -}}
{{- $Style_TOC_BGColor = . -}}
{{- end -}}
{{- with .Style.TOC.TransitionDuration -}}
{{- $Style_TOC_TransitionDuration = . -}}
{{- end -}}
{{- with .Style.TOC.ZIndex -}}
{{- $Style_TOC_ZIndex = . -}}
{{- end -}}
{{- with .Style.TOC.Width -}}
{{- $Style_TOC_Width = . -}}
{{- end -}}
{{- with .Style.TOC.Padding.Y -}}
{{- $Style_TOC_Padding_Y = . -}}
{{- end -}}
{{- with .Style.TOC.Padding.X -}}
{{- $Style_TOC_Padding_X = . -}}
{{- end -}}
{{- with .Style.TOC.Border.Width -}}
{{- $Style_TOC_Border_Width = . -}}
{{- end -}}
{{- with .Style.TOC.Border.Color -}}
{{- $Style_TOC_Border_Color = . -}}
{{- end -}}
{{- with .Style.TOC.Header.BGColor -}}
{{- $Style_TOC_Header_BGColor = . -}}
{{- end -}}
{{- with .Style.TOC.Title.LineHeight -}}
{{- $Style_TOC_Title_LineHeight = . -}}
{{- end -}}
{{- with .Style.TOC.Title.Color -}}
{{- $Style_TOC_Title_Color = . -}}
{{- end -}}
{{- with .Style.TOC.Title.Font.Size -}}
{{- $Style_TOC_Title_Font_Size = . -}}
{{- end -}}
{{- with .Style.TOC.Title.Font.Weight -}}
{{- $Style_TOC_Title_Font_Weight = . -}}
{{- end -}}
{{- with .Style.TOC.Title.Font.Family -}}
{{- $Style_TOC_Title_Font_Family = . -}}
{{- end -}}
{{- with .Style.TOC.Link.LineHeight -}}
{{- $Style_TOC_Link_LineHeight = . -}}
{{- end -}}
{{- with .Style.TOC.Link.Color -}}
{{- $Style_TOC_Link_Color = . -}}
{{- end -}}
{{- with .Style.TOC.Link.Indent -}}
{{- $Style_TOC_Link_Indent = . -}}
{{- end -}}
{{- with .Style.TOC.Link.Font.Size -}}
{{- $Style_TOC_Link_Font_Size = . -}}
{{- end -}}
{{- with .Style.TOC.Link.Font.Weight -}}
{{- $Style_TOC_Link_Font_Weight = . -}}
{{- end -}}
{{- with .Style.TOC.Link.Font.Family -}}
{{- $Style_TOC_Link_Font_Family = . -}}
{{- end -}}
{{- with .Style.TOC.Backdrop.ZIndex -}}
{{- $Style_TOC_Backdrop_ZIndex = . -}}
{{- end -}}
{{- with .Style.TOC.Backdrop.BGColor -}}
{{- $Style_TOC_Backdrop_BGColor = . -}}
{{- end -}}
{{- with .Style.TOC.Backdrop.Opacity -}}
{{- $Style_TOC_Backdrop_Opacity = . -}}
{{- end -}}

{{- with .Style.Toggle.Color -}}
{{- $Style_Toggle_Color = . -}}
{{- end -}}
{{- with .Style.Toggle.BGColor -}}
{{- $Style_Toggle_BGColor = . -}}
{{- end -}}
{{- with .Style.Toggle.Padding.Y -}}
{{- $Style_Toggle_Padding_Y = . -}}
{{- end -}}
{{- with .Style.Toggle.Padding.X -}}
{{- $Style_Toggle_Padding_X = . -}}
{{- end -}}
{{- with .Style.Toggle.Margin.Y -}}
{{- $Style_Toggle_Margin_Y = . -}}
{{- end -}}
{{- with .Style.Toggle.Margin.X -}}
{{- $Style_Toggle_Margin_X = . -}}
{{- end -}}
{{- with .Style.Toggle.Font.Size -}}
{{- $Style_Toggle_Font_Size = . -}}
{{- end -}}
{{- with .Style.Toggle.Font.Weight -}}
{{- $Style_Toggle_Font_Weight = . -}}
{{- end -}}
{{- with .Style.Toggle.Font.Family -}}
{{- $Style_Toggle_Font_Family = . -}}
{{- end -}}

{{- with .Style.SectionNumber.Color -}}
{{- $Style_SectionNumber_Color = . -}}
{{- end -}}
{{- with .Style.SectionNumber.BGColor -}}
{{- $Style_SectionNumber_BGColor = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Padding.Y -}}
{{- $Style_SectionNumber_Padding_Y = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Padding.X -}}
{{- $Style_SectionNumber_Padding_X = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Margin.Y -}}
{{- $Style_SectionNumber_Margin_Y = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Margin.X -}}
{{- $Style_SectionNumber_Margin_X = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Font.Size -}}
{{- $Style_SectionNumber_Font_Size = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Font.Weight -}}
{{- $Style_SectionNumber_Font_Weight = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Font.Family -}}
{{- $Style_SectionNumber_Font_Family = . -}}
{{- end -}}

{{- end -}} {{- /* with site.Data.plugin_toc */ -}}

{{- /**********************************************
  Override the default/plugin parameter values with
  values found in the theme data file.
  *************************************************/ -}}

{{- with (index site.Data "plugin-toc") -}}

{{- with .Config.Version -}}
{{- $Config_Version = . -}}
{{- end -}}
{{- with .Config.MinWordCount -}}
{{- $Config_MinWordCount = . -}}
{{- end -}}
{{- if (isset .Config "DebugPrint") -}}
{{- $Config_DebugPrint = .Config.DebugPrint -}}
{{- end -}}
{{- if (isset .Config "Fingerprint") -}}
{{- $Config_Fingerprint = .Config.Fingerprint -}}
{{- end -}}
{{- with .Config.SassOutput -}}
{{- $Config_SassOutput = . -}}
{{- end -}}
{{- if (isset .Config "MinifyScript") -}}
{{- $Config_MinifyScript = .Config.MinifyScript -}}
{{- end -}}
{{- with .Config.MinSections -}}
{{- $Config_MinSections = . -}}
{{- end -}}
{{- with .Config.SourceSandbox -}}
{{- $Config_SourceSandbox = . -}}
{{- end -}}
{{- with .Config.ContainerParent -}}
{{- $Config_ContainerParent = . -}}
{{- end -}}
{{- with .Config.TitleText -}}
{{- $Config_TitleText = . -}}
{{- end -}}
{{- with .Config.ToggleParent -}}
{{- $Config_ToggleParent = . -}}
{{- end -}}
{{- with .Config.ToggleText -}}
{{- $Config_ToggleText = . -}}
{{- end -}}
{{- if (isset .Config "SectionNumbers") -}}
{{- $Config_SectionNumbers = .Config.SectionNumbers -}}
{{- end -}}
{{- if (isset .Config "InjectSectionNumbers") -}}
{{- $Config_InjectSectionNumbers = .Config.InjectSectionNumbers -}}
{{- end -}}

{{- with .Specifiers.BackdropID -}}
{{- $Specifiers_BackdropID = . -}}
{{- end -}}
{{- with .Specifiers.ContainerID -}}
{{- $Specifiers_ContainerID = . -}}
{{- end -}}
{{- with .Specifiers.HeaderID -}}
{{- $Specifiers_HeaderID = . -}}
{{- end -}}
{{- with .Specifiers.TitleID -}}
{{- $Specifiers_TitleID = . -}}
{{- end -}}
{{- with .Specifiers.CloseButtonID -}}
{{- $Specifiers_CloseButtonID = . -}}
{{- end -}}
{{- with .Specifiers.BodyID -}}
{{- $Specifiers_BodyID = . -}}
{{- end -}}
{{- with .Specifiers.ToggleID -}}
{{- $Specifiers_ToggleID = . -}}
{{- end -}}
{{- with .Specifiers.LevelClassNamePrefix -}}
{{- $Specifiers_LevelClassNamePrefix = . -}}
{{- end -}}
{{- with .Specifiers.FadeClassName -}}
{{- $Specifiers_FadeClassName = . -}}
{{- end -}}
{{- with .Specifiers.ShowClassName -}}
{{- $Specifiers_ShowClassName = . -}}
{{- end -}}
{{- with .Specifiers.OffscreenClassName -}}
{{- $Specifiers_OffscreenClassName = . -}}
{{- end -}}
{{- with .Specifiers.TOCEntryClassName -}}
{{- $Specifiers_TOCEntryClassName = . -}}
{{- end -}}
{{- with .Specifiers.SectionNumberClassName -}}
{{- $Specifiers_SectionNumberClassName = . -}}
{{- end -}}
{{- with .Specifiers.InjectedSectionNumberClassName -}}
{{- $Specifiers_InjectedSectionNumberClassName = . -}}
{{- end -}}

{{- with .Style.TOC.Color -}}
{{- $Style_TOC_Color = . -}}
{{- end -}}
{{- with .Style.TOC.BGColor -}}
{{- $Style_TOC_BGColor = . -}}
{{- end -}}
{{- with .Style.TOC.TransitionDuration -}}
{{- $Style_TOC_TransitionDuration = . -}}
{{- end -}}
{{- with .Style.TOC.ZIndex -}}
{{- $Style_TOC_ZIndex = . -}}
{{- end -}}
{{- with .Style.TOC.Width -}}
{{- $Style_TOC_Width = . -}}
{{- end -}}
{{- with .Style.TOC.Padding.Y -}}
{{- $Style_TOC_Padding_Y = . -}}
{{- end -}}
{{- with .Style.TOC.Padding.X -}}
{{- $Style_TOC_Padding_X = . -}}
{{- end -}}
{{- with .Style.TOC.Border.Width -}}
{{- $Style_TOC_Border_Width = . -}}
{{- end -}}
{{- with .Style.TOC.Border.Color -}}
{{- $Style_TOC_Border_Color = . -}}
{{- end -}}
{{- with .Style.TOC.Header.BGColor -}}
{{- $Style_TOC_Header_BGColor = . -}}
{{- end -}}
{{- with .Style.TOC.Title.LineHeight -}}
{{- $Style_TOC_Title_LineHeight = . -}}
{{- end -}}
{{- with .Style.TOC.Title.Color -}}
{{- $Style_TOC_Title_Color = . -}}
{{- end -}}
{{- with .Style.TOC.Title.Font.Size -}}
{{- $Style_TOC_Title_Font_Size = . -}}
{{- end -}}
{{- with .Style.TOC.Title.Font.Weight -}}
{{- $Style_TOC_Title_Font_Weight = . -}}
{{- end -}}
{{- with .Style.TOC.Title.Font.Family -}}
{{- $Style_TOC_Title_Font_Family = . -}}
{{- end -}}
{{- with .Style.TOC.Link.LineHeight -}}
{{- $Style_TOC_Link_LineHeight = . -}}
{{- end -}}
{{- with .Style.TOC.Link.Color -}}
{{- $Style_TOC_Link_Color = . -}}
{{- end -}}
{{- with .Style.TOC.Link.Indent -}}
{{- $Style_TOC_Link_Indent = . -}}
{{- end -}}
{{- with .Style.TOC.Link.Font.Size -}}
{{- $Style_TOC_Link_Font_Size = . -}}
{{- end -}}
{{- with .Style.TOC.Link.Font.Weight -}}
{{- $Style_TOC_Link_Font_Weight = . -}}
{{- end -}}
{{- with .Style.TOC.Link.Font.Family -}}
{{- $Style_TOC_Link_Font_Family = . -}}
{{- end -}}
{{- with .Style.TOC.Backdrop.ZIndex -}}
{{- $Style_TOC_Backdrop_ZIndex = . -}}
{{- end -}}
{{- with .Style.TOC.Backdrop.BGColor -}}
{{- $Style_TOC_Backdrop_BGColor = . -}}
{{- end -}}
{{- with .Style.TOC.Backdrop.Opacity -}}
{{- $Style_TOC_Backdrop_Opacity = . -}}
{{- end -}}

{{- with .Style.Toggle.Color -}}
{{- $Style_Toggle_Color = . -}}
{{- end -}}
{{- with .Style.Toggle.BGColor -}}
{{- $Style_Toggle_BGColor = . -}}
{{- end -}}
{{- with .Style.Toggle.Padding.Y -}}
{{- $Style_Toggle_Padding_Y = . -}}
{{- end -}}
{{- with .Style.Toggle.Padding.X -}}
{{- $Style_Toggle_Padding_X = . -}}
{{- end -}}
{{- with .Style.Toggle.Margin.Y -}}
{{- $Style_Toggle_Margin_Y = . -}}
{{- end -}}
{{- with .Style.Toggle.Margin.X -}}
{{- $Style_Toggle_Margin_X = . -}}
{{- end -}}
{{- with .Style.Toggle.Font.Size -}}
{{- $Style_Toggle_Font_Size = . -}}
{{- end -}}
{{- with .Style.Toggle.Font.Weight -}}
{{- $Style_Toggle_Font_Weight = . -}}
{{- end -}}
{{- with .Style.Toggle.Font.Family -}}
{{- $Style_Toggle_Font_Family = . -}}
{{- end -}}

{{- with .Style.SectionNumber.Color -}}
{{- $Style_SectionNumber_Color = . -}}
{{- end -}}
{{- with .Style.SectionNumber.BGColor -}}
{{- $Style_SectionNumber_BGColor = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Padding.Y -}}
{{- $Style_SectionNumber_Padding_Y = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Padding.X -}}
{{- $Style_SectionNumber_Padding_X = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Margin.Y -}}
{{- $Style_SectionNumber_Margin_Y = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Margin.X -}}
{{- $Style_SectionNumber_Margin_X = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Font.Size -}}
{{- $Style_SectionNumber_Font_Size = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Font.Weight -}}
{{- $Style_SectionNumber_Font_Weight = . -}}
{{- end -}}
{{- with .Style.SectionNumber.Font.Family -}}
{{- $Style_SectionNumber_Font_Family = . -}}
{{- end -}}

{{- end -}} {{- /* with (index site.Data "plugin-toc") */ -}}

{{- /**************************************************
  Construct the intermediate maps (mostly for clarity).
  
  The map inserted into the page scratch will have the 
  following key structure:
  
  Config
  Specifiers
  Style
    TOC
      Padding
      Border
      Header
      Title
        Font
      Link
        Font
      Backdrop
    Toggle
      Padding
      Margin
      Font
    SectionNumber
      Padding
      Margin
      Font        
  *********************************************************/ -}}
  
{{- /* Style.SectionNumber.Font */ -}}
{{- $Style_SectionNumber_Font := dict "Size" $Style_SectionNumber_Font_Size "Family" $Style_SectionNumber_Font_Family "Weight" $Style_SectionNumber_Font_Weight -}}

{{- /* Style.SectionNumber.Margin */ -}}
{{- $Style_SectionNumber_Margin := dict "Y" $Style_SectionNumber_Margin_Y "X" $Style_SectionNumber_Margin_X -}}

{{- /* Style.SectionNumber.Padding */ -}}
{{- $Style_SectionNumber_Padding := dict "Y" $Style_SectionNumber_Padding_Y "X" $Style_SectionNumber_Padding_X -}}

{{- /* Style.SectionNumber */ -}}
{{- $Style_SectionNumber := dict "Color" $Style_SectionNumber_Color "BGColor" $Style_SectionNumber_BGColor "Padding" $Style_SectionNumber_Padding "Margin" $Style_SectionNumber_Margin "Font" $Style_SectionNumber_Font -}}

{{- /* Style.Toggle.Font */ -}}
{{- $Style_Toggle_Font := dict "Size" $Style_Toggle_Font_Size "Family" $Style_Toggle_Font_Family "Weight" $Style_Toggle_Font_Weight -}}

{{- /* Style.Toggle.Margin */ -}}
{{- $Style_Toggle_Margin := dict "Y" $Style_Toggle_Margin_Y "X" $Style_Toggle_Margin_X -}}

{{- /* Style.Toggle.Padding */ -}}
{{- $Style_Toggle_Padding := dict "Y" $Style_Toggle_Padding_Y "X" $Style_Toggle_Padding_X -}}

{{- /* Style.Toggle */ -}}
{{- $Style_Toggle := dict "Color" $Style_Toggle_Color "BGColor" $Style_Toggle_BGColor "Padding" $Style_Toggle_Padding "Margin" $Style_Toggle_Margin "Font" $Style_Toggle_Font -}}

{{- /* Style.TOC.Backrop */ -}}
{{- $Style_TOC_Backdrop := dict "ZIndex" $Style_TOC_Backdrop_ZIndex "BGColor" $Style_TOC_Backdrop_BGColor "Opacity" $Style_TOC_Backdrop_Opacity -}}

{{- /* Style.TOC.Link.Font */ -}}
{{- $Style_TOC_Link_Font := dict "Size" $Style_TOC_Link_Font_Size "Family" $Style_TOC_Link_Font_Family "Weight" $Style_TOC_Link_Font_Weight -}}

{{- /* Style.TOC.Link */ -}}
{{- $Style_TOC_Link := dict "LineHeight" $Style_TOC_Link_LineHeight "Color" $Style_TOC_Link_Color "Indent" $Style_TOC_Link_Indent "Font" $Style_TOC_Link_Font -}}

{{- /* Style.TOC.Title.Font */ -}}
{{- $Style_TOC_Title_Font := dict "Size" $Style_TOC_Title_Font_Size "Family" $Style_TOC_Title_Font_Family "Weight" $Style_TOC_Title_Font_Weight -}}

{{- /* Style.TOC.Title */ -}}
{{- $Style_TOC_Title := dict "LineHeight" $Style_TOC_Title_LineHeight "Color" $Style_TOC_Title_Color "Font" $Style_TOC_Title_Font -}}

{{- /* Style.TOC.Header */ -}}
{{- $Style_TOC_Header := dict "BGColor" $Style_TOC_Header_BGColor -}}

{{- /* Style.TOC.Border */ -}}
{{- $Style_TOC_Border := dict "Width" $Style_TOC_Border_Width "Color" $Style_TOC_Border_Color -}}

{{- /* Style.TOC.Padding */ -}}
{{- $Style_TOC_Padding := dict "Y" $Style_TOC_Padding_Y "X" $Style_TOC_Padding_X -}}

{{- /* Style.TOC */ -}}
{{- $Style_TOC := dict "Color" $Style_TOC_Color "BGColor" $Style_TOC_BGColor "TransitionDuration" $Style_TOC_TransitionDuration "ZIndex" $Style_TOC_ZIndex "Width" $Style_TOC_Width "Padding" $Style_TOC_Padding "Border" $Style_TOC_Border "Header" $Style_TOC_Header "Title" $Style_TOC_Title "Link" $Style_TOC_Link "Backdrop" $Style_TOC_Backdrop -}}

{{- /* Style */ -}}
{{- $Style := dict "TOC" $Style_TOC "Toggle" $Style_Toggle "SectionNumber" $Style_SectionNumber -}}

{{- /* Specifiers */ -}}
{{- $Specifiers := dict "BackdropID" $Specifiers_BackdropID "ContainerID" $Specifiers_ContainerID "HeaderID" $Specifiers_HeaderID "TitleID" $Specifiers_TitleID "CloseButtonID" $Specifiers_CloseButtonID "BodyID" $Specifiers_BodyID "ToggleID" $Specifiers_ToggleID "LevelClassNamePrefix" $Specifiers_LevelClassNamePrefix "FadeClassName" $Specifiers_FadeClassName "ShowClassName" $Specifiers_ShowClassName "OffscreenClassName" $Specifiers_OffscreenClassName "TOCEntryClassName" $Specifiers_TOCEntryClassName "SectionNumberClassName" $Specifiers_SectionNumberClassName "InjectedSectionNumberClassName" $Specifiers_InjectedSectionNumberClassName -}}

{{- /* Config */ -}}
{{- $Config := dict "Version" $Config_Version "MinWordCount" $Config_MinWordCount "DebugPrint" $Config_DebugPrint "Fingerprint" $Config_Fingerprint "SassOutput" $Config_SassOutput "MinifyScript" $Config_MinifyScript "MinSections" $Config_MinSections "SourceSandbox" $Config_SourceSandbox "ContainerParent" $Config_ContainerParent "TitleText" $Config_TitleText "ToggleParent" $Config_ToggleParent "ToggleText" $Config_ToggleText "SectionNumbers" $Config_SectionNumbers "InjectSectionNumbers" $Config_InjectSectionNumbers -}}

{{- /* Parameters */ -}}
{{- $Parameters := dict "Config" $Config "Specifiers" $Specifiers "Style" $Style -}}

{{- /********************************************
  Insert the parameter map into the page scratch.
  ***********************************************/ -}}
  
  {{- .Scratch.Set "plugin-toc.Parameters" $Parameters -}}